/*body ,header,footer*/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;   
}
#btnCont{
justify-content: center;
grid-row: 2;
grid-column: 2;
}

#historialInput{
    margin-right: 150px;
    grid-row: 2;
    grid-column: 3;
    height: 100%;
    display: flex;

}
#historialInput input{
    width: 100px;
}
header{
    box-shadow: 0 2px 2px 2px rgba(75, 75, 73, 0.507);
    padding: 10px 0;
}
header nav{
    display: grid;
    grid-template: 70% 30%/30% 30% 30% ;
    justify-content: space-between;
    margin: 0 60px;   
}
header nav div{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 30px;
    position: relative;
    grid-row: 1;
    grid-column: 3;
}
header a{
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}
header h2{
    grid-row: 1;
    grid-column: 2;
    color: rgb(20, 20, 20);
    font-family: "Indie Flower";
    font-style: normal;
    margin-block-start: 1.5em;
    justify-self: center;
}
#logo{
   height: 120px; 
}
.bx{
  font-size: 25px;
}
footer{
   text-align: center;
   color: rgba(28, 28, 29, 0.865);
   box-shadow: 0 2px 2px 2px rgba(66, 66, 65, 0.87);
   margin-top: auto
}
#containerSolicitud{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}  
.tarjetas{
    box-shadow: 0 2px 3px 3px rgba(165, 165, 161, 0.63);
    max-width: 240px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);  
    margin-block-end: 2em;
    background-color: rgba(240, 248, 255, 0.884);

}
.tarjetas P{
    color: rgb(91, 91, 110);
    font-size: 20px;
} 
.Aceptar{
    background-color: rgba(47, 233, 10, 0.877);
    border: none;
    outline: 0;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: aliceblue;
}
.Aceptar:hover{
   opacity: 0.7;    
} 
.Denegar{
    background-color: rgba(238, 78, 4, 0.877);
    border: none;
    outline: 0;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: aliceblue;
}
.Denegar:hover{
   opacity: 0.7;    
}
#btnSolicitud{
    border-radius: 5px;
    width: 95px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: rgba(95, 250, 75, 0.226);
    margin-left: 8%;
    box-shadow: 0 2px 2px 2px rgba(109, 109, 108, 0.658);
}
#btnHistorial{
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: rgba(252, 83, 41, 0.226);
    margin-left: 8%;
    box-shadow: 0 2px 2px 2px rgba(109, 109, 108, 0.658);
}

.regisModal{
    width: 220px;
    height: 101px;
    color: rgb(7, 7, 7);
    background-color: rgb(228, 234, 236);
    display: flex;
    position: fixed;
    margin-left: 40%;
    top: 10vh; 
    font-size: 20px;
    color: rgb(53, 53, 53);
    text-align: center;
    margin-block-start: 11em;
    font-weight: 700;
    box-shadow: 0 2px 5px rgba(17, 16, 17, 0.822); 
}

/* Media Query */

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
    }

    header h2 {
        margin-block-start: 1em;
        font-size: 24px;
        text-align: center;
    }

    #logo {
        height: 80px;
    }

    #containerSolicitud {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .tarjetas {
        max-width: 100%;
        margin-block-end: 1em;
    }

    .Aceptar,
    .Denegar {
        font-size: 16px;
        padding: 10px;
    }
    

    #btnSolicitud,
    #btnHistorial {
        margin-left: 0;
        width: 100%;
        margin-block-start: 1em;
        box-shadow: none;
    }

    #datoInput{
        width: 80%;
        margin-right: 10%;
        font-size: 10px;
        height: auto;
        flex-direction: column;
    }
    #fechaS{
        width: 80%;
        margin-right: 10%;
        font-size: 10px;
        height: auto;
        flex-direction: column;
    
    }
    #fechaE{
        width: 80%;
        margin-right: 10%;
        font-size: 10px;
        height: auto;
        flex-direction: column;
    
    }
    #btnBuscar{
        margin-right: 20px;
        height: auto;
        flex-direction: column;
    
    } 
    .mainCont{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    #historialInput{
        width: 80%;
        margin-right: 10%;
        font-size: 10px;
        height: auto;
        flex-direction: column;

    }

}


