/*body ,header,footer*/
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;   
}
header{
    box-shadow: 0 2px 2px 2px rgba(75, 75, 73, 0.507);
    padding: 10px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;   
}
header nav div{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}
header h2{
  color: rgb(20, 20, 20);
  font-family: "Indie Flower";
  font-style: normal;
  margin-block-start: 1.5em;
  
}
#logo{
   height: 120px; 
}
.bx{
  font-size: 25px;
}
footer{
   text-align: center;
   color: rgba(28, 28, 29, 0.865);
   box-shadow: 0 2px 2px 2px rgba(66, 66, 65, 0.87);
   margin-top: auto
}
#containerSolicitud{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}  
.tarjetas{
    box-shadow: 0 2px 3px 3px rgba(165, 165, 161, 0.63);
    max-width: 240px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);  
    margin-block-end: 2em;
    background-color: rgba(240, 248, 255, 0.884);

}
.tarjetas P{
    color: rgb(91, 91, 110);
    font-size: 20px;
} 
.Aceptar{
    background-color: rgba(47, 233, 10, 0.877);
    border: none;
    outline: 0;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: aliceblue;
}
.Aceptar:hover{
   opacity: 0.7;    
} 
.Denegar{
    background-color: rgba(238, 78, 4, 0.877);
    border: none;
    outline: 0;
    padding: 12px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    color: aliceblue;
}
.Denegar:hover{
   opacity: 0.7;    
}
#btnSolicitud{
    border-radius: 5px;
    width: 95px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: rgba(95, 250, 75, 0.226);
    margin-left: 8%;
    margin-block-start: 2em;
    box-shadow: 0 2px 2px 2px rgba(109, 109, 108, 0.658);
}
#btnHistorial{
    border-radius: 5px;
    width: 90px;
    height: 40px;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: rgba(252, 83, 41, 0.226);
    margin-left: 8%;
    margin-block-end: 3em;
    box-shadow: 0 2px 2px 2px rgba(109, 109, 108, 0.658);
}

