/*permiso */
.contenido1{
    border-radius: 15px;
    width: 800px;
    height: 230px;
    margin-left: 18%;
    background-image: url(img/topImg.jpeg);
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);
    
}
.contenido2{
     background-color: #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 180px;
    margin-left: 18%;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719); 

}
.contenido3{
     background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 360px;
    margin-left: 18%;
    text-align: justify;
    font-size: 16px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719); 
    
}
.contenido3 p{
   margin: 15px;
   padding: auto;
}
.contenido3 h2{
   margin: 15px;
   padding: auto;
   
}
.contenido4{
     background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 150px;
    margin-left: 18%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);
    
}
.contenido5{
     background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 160px;
    margin-left: 18%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);
}
.contenido5 p{
    font-size: 20px;
    font-weight: 430;
    text-align: center;
    
}
.contenido5 input{
    border: none;
    border-block-end: 1px solid black;
    margin-left: 30%;
    margin-block-start: 2em;
    width: 40%;
    background-color: #dadada00;
    outline: none;
    font-size: 15px;
}


.contenido6{
     background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 160px;
    margin-left: 18%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);
       
}
.contenido6 h3{
    text-align: center;
}
.contenido6 input{
    margin-left: 43%;

}
.contenido7{
     background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 170px;
    margin-left: 18%;
    text-align: center;
    font-size: 15px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);   
}
.contenido8{
    background-color:  #dadadab0;
    border-radius: 15px;
    width: 800px;
    height: 160px;
    margin-left: 18%;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);
}    

body{
    background-image: url(img/Diseño\ sin\ título.jpg);
    justify-content: center;
    
}
#envio{
    background-color: #12affeeb;
    color: #fff;
    border-radius: 14px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 18%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.719);  
   
}
 
