body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    background-image: url(img/photo-1617957772002-57adde1156fa.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.containerForm{
    height: 470px;
    width: 500px;
	display: flex;
    justify-content: center;
    background-image: url(img/WhatsApp\ Image\ 2024-08-20\ at\ 11.17.58\ AM.jpeg);
    background-size: cover;
	border-radius: 20px;
	box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
	transition: all 1s ease;
	margin: 10px;
    
}


.informacionForm{
    margin-block-start: 2.5em;
	

}
.informacionChild h3{
	color: rgb(243, 239, 243);
	font-size: 1rem;
    text-align: center;
}

.form label{
    display: flex;
    align-items: center;
    background-color: #f3e9e9;
    margin-bottom: 15px;
    border-radius: 20px;
    margin-block-start: 1em;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);  
}
.form label input{
   width: 100%;
   padding: 10px;
   background-color: #f3e9e9;
   border: none;
   outline: none;
   border-radius: 20px;
   color: #333;
}
form label i{
   color: #807c7c;
}
.submit{
    background-color: #12affeeb;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 45px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);  
   
}
.submit:hover{
   background-color: #333;
}  
.form-select {
    width: 100%;
   padding: 10px;
   background-color: #f3e9e9;
   border: none;
   outline: none;
   border-radius: 20px;
   color: #333;

}
/*login*/

.informacionForm{
    height: 320px;
    width: 430px;
	display: flex;
    justify-content: center;
	border-radius: 20px;
	box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
	transition: all 1s ease;
	margin: 10px;
    margin-block-start: 2em;
    background-image: url();
    background-size: cover;
    

}
.informacionChild{
    margin-block-start: 2em;
}
.infoChilds{
    text-align: center;
}
.containerInfo{
    background-color: #eadbdb;
    background-size: cover;
}
.inicio{
    background-color: #efe5e5;
    height: 200px;
    width: 700px;
    margin-left: 15%;


}




